.theme-light {
    --main: #5E72E4;
    --main_a: 94, 114, 228;
    --second: #0083FF;
    --anim: #8EF4FF;
    --def1: #117FEF;
    --def2: #11A4EF;
    --flex1: #FAA840;
    --flex2: #F67940;
    --ac: #FAA840;
    --shadow: 0, 54, 98;
 }
 .theme-dark {
    --main: #191919;
    --main_a: 25, 25, 25;
    --second: #131313;
    --anim: #2DCE89;
    --def1: #152c53;
    --def2: #103f8f;
    --flex1: #d38827;
    --flex2: #a04218;
    --ac: #2DCE89;
    --shadow: 45, 56, 74;
}