{% extends "base.html" %}
{% block title%}
Главная
{% endblock %}
{% block body %}
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(89565713, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/89565713" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!--<div class="loader">
		<div class="loader_gif">		
	</div>
	</div>-->
	<main>
		<div class="welcome min-h">
			<div class="bg_opa color_bg"></div>
			<div class="dro pf"></div>
			<div class="dro b"></div>
			<div class="welcome__plak">
				<div class="welcome__txt">
					3 сезон уже начался!
				</div>
				<a href="#auto-scroll"><button class="button-buy" style="position: absolute; left: 50%; top: 70px; transform: translateX(-50%);" data-clipboard-text="bozon.host"><p class="button-buy_txt">Купить проходку</p></button></a>
			</div>
		</div>
		
		<!--<div id="copied" style="top: 100px">IP bozon.host был скопирован</div>

		<div class="IP">
			<p class="IP-txt">IP: bozon.host
				<br>
				1.19
				<br>
				Только java-версия!
		</p>
		</div>-->

		
		<div class="buy IP">
		</div>

<div id="auto-scroll2"></div>
		<div class="buy min-h" style="z-index: 2">


			<div class="buy__center">
				<div class="welcome__plak pred_txt">
					<div class="welcome__txt_2">
						Готов стать частью нашего коммьюнити?
					</div>
				</div>
				<div class="buy__var var1">
					<div class="down">
						<div class="action_1" id="flex_form__f1">
							<div class="down">
								<p class="buy__var-txt">Флексер</p>
								<div class="buy__var-plus">
								<ul class="li-list">
									<li>Префикс <div class="in_txt_img img_flexer"></div> перед ником</li>
									<li>Косметический эффект в лобби</li>
									<li>Бесплатный выбор цвета ника</li>
									<li>Доступ к меню со всеми остальными эффектами и цветами</li>
								</ul>
								</div>
								<div class="buy__var-down">
									<div class="price">75₽/мес.<br>
										<span class="sss">
											100₽ Апгрейд
										</span>
									</div>
									<button class="button-buy but__var_btn flex_buy_between_btn">
										<p class="button-buy_txt">Купить проходку</p>
									</button>
								</div>
							</div>
						</div>
						<div class="action_0" id="flex_form__f2">
							<div class="form_center">
								<form id="buy" method="POST">
									<input type="text" name="ref" id="ref" style="visibility: hidden;" value="">
								    <input type="text" name="customer" class="form__area" id="text2" placeholder="Никнейм в игре"><br>
								    <div id="req2">
							      	<button name="product_id" value="443453"  type="submit" class="button-buy but__var_btn flex_buy_between_submit">
							        		<p class="button-buy_txt">Оплатить на месяц</p>
							      	</button>
							      	<button name="product_id" value="252492"  type="submit" class="button-buy but__var_btn flex_buy_between_submit" style="background-color: var(--pr); border: solid 1px var(--pr);">
							        		<p class="button-buy_txt">Апгрейд дефолта</p>
							      	</button>
							      		<p class="con_rules">Нажимая <span class=span_color> Оплатить</span>, вы автоматически соглашаетесь с <a href="/rules">правилами сервера</a> и <br><a href="/oferta">офертой</a></p>
								    </div>
							    </form>
							    <div class="flex_form_exit fe"><p class="form_center form_exit_txt">Назад</p></div>
							</div>
						</div>
						<div class="action_0" id="flex_form__f3">
							<div class="form_center">
								<p class="suc_txt">Успешно!</p>
							</div>
						</div>
					</div>
				</div>
				<div class="buy__var var2">
					<div class="down">
						<div class="action_1" id="def_form__f1">
							<div class="down">
								<p class="buy__var-txt">Дефолт</p>
								<div class="buy__var-plus">
									<ul class="besp li-list">
										<li>Доступ на сервер</li>
									</ul>
								</div>
								<div class="buy__var-down">
									<div class="price">55₽/мес.<br>
										<!--<span class="sss">
											300₽ на весь сезон
										</span>-->
									</div>
									<button class="button-buy but__var_btn def_buy_between_btn">
										<p class="button-buy_txt">Купить проходку</p>
									</button>
								</div>
							</div>
						</div>
						<div class="action_0" id="def_form__f2">
							<div class="form_center">
								<form id="buy" method="POST">
									<input type="text" name="ref" id="ref2" style="visibility: hidden;" value="">
								    <input type="text" name="customer" class="form__area" id="text3" placeholder="Никнейм в игре"><br>
								    <div id="req3">
								    		<!--<button name="product_id" value="231323" type="submit" class="button-buy but__var_btn def_buy_between_submit" style="background-color: var(--gray); border: solid 1px var(--ser);">
							        		<p class="button-buy_txt">Оплатить на месяц</p>
							      		</button>-->
							      		<button name="product_id" value="231323" type="submit" class="button-buy but__var_btn def_buy_between_submit">
							        		<p class="button-buy_txt">Оплатить</p>
							      		</button>
							      		<p class="con_rules">Нажимая <span class=span_color> Оплатить</span>, вы автоматически соглашаетесь с <a href="/rules">правилами сервера</a> и <br><a href="/oferta">офертой</a></p>
								    </div>
							    </form>
							    <div class="def_form_exit fe"><p class="form_center form_exit_txt">Назад</p></div>
							</div>
						</div>
						<div class="action_0" id="def_form__f3">
							<div class="form_center">
								<p class="suc_txt">Успешно!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if ref != None %}
		<div id="promo" style="bottom: 30px;">
			<p><span style="color: var(--gray);">Вы поддерживаете: </span>
				{{ref}}
				(скидка 20%)
			</p>
		</div>
	{% endif %}
	</main>
{% endblock %}